absl-py==0.10.0
abstract-rendering==0.5.1
alabaster==0.7.7
anaconda-client==1.2.2
appnope==0.1.0
appscript==1.0.1
argcomplete==1.0.0
astropy==1.1.1
astunparse==1.6.3
Augmentor==0.2.8
Babel==2.2.0
beautifulsoup4==4.4.1
bitarray==0.8.1
blaze==0.9.0
bokeh==0.11.0
boto==2.39.0
Bottleneck==1.0.0
cachetools==4.1.1
certifi==2020.6.20
cffi==1.2.1
chardet==3.0.4
clyent==1.2.0
colorama==0.3.6
conda==3.19.1
conda-build==1.19.0
conda-env==2.4.5
configobj==5.0.6
cryptography==1.0.2
cycler==0.9.0
Cython==0.23.4
cytoolz==0.7.5
datashape==0.5.0
decorator==4.0.6
dlib==19.21.0
docutils==0.12
dynd===f641248
et-xmlfile==1.0.1
fastcache==1.0.2
ffmpeg==1.4
Flask==0.10.1
Flask-SQLAlchemy==2.4.4
future==0.18.2
futures==3.0.3
gast==0.3.3
google-api-core==1.23.0
google-api-python-client==1.12.5
google-auth==1.22.1
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.52.0
greenlet==0.4.9
grpcio==1.33.1
gunicorn==20.0.4
h5py==2.10.0
httplib2==0.18.1
idna==2.10
importlib-metadata==2.0.0
ipykernel==4.2.2
ipython==4.0.3
ipython-genutils==0.1.0
ipywidgets==4.1.1
itsdangerous==0.24
jdcal==1.2
jedi==0.9.0
Jinja2==2.8
jsonschema==2.4.0
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.1.0
jupyter-core==4.0.6
Keras==2.4.3
Keras-Preprocessing==1.1.2
llvmlite==0.8.0
lxml==3.5.0
Markdown==3.2.2
MarkupSafe==0.23
matplotlib==1.5.1
mistune==0.7.1
multipledispatch==0.4.8
nbconvert==4.1.0
nbformat==4.0.1
networkx==1.11
nltk==3.1
nose==1.3.7
notebook==4.1.0
numba==0.23.1
numexpr==2.4.6
numpy==1.18.5
oauthlib==3.1.0
odo==0.4.0
opencv-python==4.4.0.42
openpyxl==2.3.2
opt-einsum==3.3.0
pandas==0.17.1
path.py==0.0.0
patsy==0.4.0
pep8==1.7.0
pexpect==3.3
pickleshare==0.5
Pillow==7.2.0
plotly==4.12.0
ply==3.8
protobuf==3.13.0
psutil==3.4.2
ptyprocess==0.5
py==1.4.31
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.1
pycparser==2.14
pycrypto==2.6.1
pycurl==7.19.5.3
pyflakes==1.0.0
Pygments==2.1
PyJWT==1.7.1
pyOpenSSL==0.15.1
pyparsing==2.0.3
pytest==2.8.5
python-dateutil==2.4.2
pytube==9.6.0
pytube3==9.5.8
pytz==2015.7
PyYAML==5.3.1
pyzmq==15.2.0
qtconsole==4.1.1
redis==2.10.3
requests==2.24.0
requests-oauthlib==1.3.0
retrying==1.3.3
rope-py3k==0.9.4.post1
rsa==4.6
scikit-image==0.11.3
scikit-learn==0.17
scipy==1.4.1
simplegeneric==0.8.1
six==1.15.0
snowballstemmer==1.2.1
sockjs-tornado==1.0.1
Sphinx==1.3.5
sphinx-rtd-theme==0.1.9
spyder==2.3.8
SQLAlchemy==1.0.11
statsmodels==0.6.1
sympy==0.7.6.1
tables==3.2.2
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
tensorflow-gpu==1.1.0
termcolor==1.1.0
terminado==0.5
toolz==0.7.4
torch==1.5.1
torchvision==0.6.1
tornado==4.3
tqdm==4.50.2
traitlets==4.1.0
twilio==6.46.0
typing-extensions==3.7.4.3
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.25.11
Werkzeug==1.0.1
wrapt==1.12.1
xlrd==0.9.4
XlsxWriter==0.8.4
xlwings==0.6.4
xlwt==1.0.0
youtube-dl==2020.9.20
zipp==1.2.0
Click==7.0
Flask==1.1.1
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
Werkzeug==0.16.0